<% if !user_signed_in? %>
<div class = "jumbotron center">
  <h1>Your favorite movies reviewed</h1>
  <p>Rate movies and also get to see what people think about movies</p>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-md-3">
    <div class="thumbnail">
    <%= link_to movie do %>
      <%= image_tag movie.image.url(:medium), class: "image" %>
    <% end %>
    </div>
  </div>
  <% end %>
  
</div>