@import "bootstrap-sprockets";
@import "bootstrap";


body {
    height: 100%;
    background: black;
    //background-image: url("bg.jpg");
    //background-size: cover;
    
}

.review_title {
	margin: 0 0 20px 0;
}
.reviews {
	padding: 15px 0;
	border-bottom: 1px solid #EAEAEA;
	.star-rating {
		padding-bottom: 8px;
	}
}